[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyota = {editable = true, path = "./../iota.lib.py", extras = ["ccurl"]}
redis = "*"
hiredis = "*"
jupyter = "*"
pendulum = "*"
prettytable = "*"

[dev-packages]

[requires]
python_version = "3.6"
