[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
hiredis = "*"
pendulum = "*"
pyota = {version = "*", extras = ["ccurl"]}

[dev-packages]

[requires]
python_version = "3.6"
